modules = ["web", "python-3.11"]
run = "python app.py"

[nix]
channel = "stable-25_05"
packages = ["cacert", "openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37945
externalPort = 3000

[[ports]]
localPort = 38411
externalPort = 3003

[[ports]]
localPort = 39311
externalPort = 5173

[[ports]]
localPort = 40507
externalPort = 4200

[[ports]]
localPort = 44765
externalPort = 3001

[agent]
expertMode = true
